-- CreateEnum
CREATE TYPE "UserRole" AS ENUM ('audiologist', 'admin', 'doctor');

-- CreateEnum
CREATE TYPE "BabyStatus" AS ENUM ('draft', 'completed', 'follow_up_required', 'under_evaluation', 'under_treatment', 'closed');

-- CreateEnum
CREATE TYPE "ScreeningTestResult" AS ENUM ('pass', 'refer', 'noisy', 'cnt', 'not_done', 'na');

-- CreateEnum
CREATE TYPE "PassReferResult" AS ENUM ('pass', 'refer');

-- CreateEnum
CREATE TYPE "ReflexResult" AS ENUM ('normal', 'abnormal', 'cnt');

-- CreateEnum
CREATE TYPE "ConsanguinityDegree" AS ENUM ('first', 'second', 'third');

-- CreateEnum
CREATE TYPE "FollowUpType" AS ENUM ('phone', 'regular', 'not_applicable');

-- CreateEnum
CREATE TYPE "Region" AS ENUM ('urban', 'rural');

-- CreateEnum
CREATE TYPE "DeliveryType" AS ENUM ('normal', 'caesarean', 'breech', 'home');

-- CreateEnum
CREATE TYPE "ReferredBy" AS ENUM ('pocd_staff', 'doctor', 'self', 'others');

-- CreateEnum
CREATE TYPE "SocioEconomicStatus" AS ENUM ('aay', 'bpl', 'apl');

-- CreateEnum
CREATE TYPE "EducationLevelParent" AS ENUM ('illiterate', 'primary', 'high_school', 'graduate_and_above', 'others');

-- CreateEnum
CREATE TYPE "Religion" AS ENUM ('hindu', 'muslim', 'christian', 'others');

-- CreateEnum
CREATE TYPE "HospitalStatus" AS ENUM ('active', 'inactive');

-- CreateEnum
CREATE TYPE "ScreeningStatus" AS ENUM ('draft', 'scheduled', 'completed');

-- CreateEnum
CREATE TYPE "ScreeningType" AS ENUM ('initial', 'rescreening');

-- CreateEnum
CREATE TYPE "FollowUpStatus" AS ENUM ('scheduled', 'completed', 'missed', 'lost_to_followup', 'rescheduled');

-- CreateEnum
CREATE TYPE "CategoryGroup" AS ENUM ('perinatal', 'postnatal', 'family_history', 'other');

-- CreateEnum
CREATE TYPE "TimelineEvent" AS ENUM ('registered', 'screened', 'follow_up_created', 'treatment_started', 'closed', 'other');

-- CreateTable
CREATE TABLE "states" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,

    CONSTRAINT "states_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "districts" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "state_id" TEXT NOT NULL,

    CONSTRAINT "districts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "hospitals" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "district_id" TEXT NOT NULL,
    "address" TEXT,
    "contact_person" TEXT,
    "contact_phone" TEXT,
    "primary_audiologist_id" TEXT,
    "status" "HospitalStatus" NOT NULL DEFAULT 'active',

    CONSTRAINT "hospitals_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "users" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "password_hash" TEXT NOT NULL,
    "full_name" TEXT NOT NULL,
    "hospital_id" TEXT NOT NULL,
    "role" "UserRole" NOT NULL DEFAULT 'audiologist',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "deleted_at" TIMESTAMP(3),

    CONSTRAINT "users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "staff" (
    "id" TEXT NOT NULL,
    "employee_id" TEXT NOT NULL,
    "full_name" TEXT NOT NULL,
    "gender" TEXT NOT NULL,
    "date_of_birth" TIMESTAMP(3),
    "mobile_number" TEXT,
    "email" TEXT,
    "photo_url" TEXT,
    "hospital_id" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "department" TEXT,
    "designation" TEXT,
    "license_number" TEXT,
    "qualification" TEXT,
    "role" TEXT,
    "years_of_experience" INTEGER,
    "status" TEXT NOT NULL DEFAULT 'active',
    "address" TEXT,

    CONSTRAINT "staff_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "risk_categories" (
    "id" TEXT NOT NULL,
    "label" TEXT NOT NULL,
    "category_group" "CategoryGroup" NOT NULL,
    "sort_order" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "risk_categories_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "recommendation_types" (
    "id" TEXT NOT NULL,
    "label" TEXT NOT NULL,

    CONSTRAINT "recommendation_types_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "babies" (
    "id" TEXT NOT NULL,
    "mr_number" TEXT,
    "pocd_number" TEXT,
    "unique_mother_id" TEXT,
    "dob" TIMESTAMP(3) NOT NULL,
    "gender" TEXT NOT NULL,
    "mother_name" TEXT NOT NULL,
    "father_name" TEXT,
    "address" TEXT,
    "taluk" TEXT,
    "district_id" TEXT NOT NULL,
    "hospital_id" TEXT NOT NULL,
    "phone_1" TEXT,
    "phone_2" TEXT,
    "nbs_centre" TEXT,
    "region" "Region",
    "delivery_type" "DeliveryType",
    "no_of_siblings" INTEGER,
    "status" "BabyStatus" NOT NULL DEFAULT 'draft',
    "created_by" TEXT NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "deleted_at" TIMESTAMP(3),
    "deleted_by" TEXT,
    "parent_district" TEXT,
    "parent_state" TEXT,
    "birth_weight_grams" INTEGER,
    "department" TEXT,
    "doctor_name" TEXT,
    "email" TEXT,
    "first_name" TEXT,
    "gestational_age_weeks" INTEGER,
    "last_name" TEXT,
    "pin_code" TEXT,
    "place_of_birth" TEXT,
    "referred_by_other" TEXT,
    "remarks" TEXT,
    "time_of_birth" TEXT,
    "referred_by" "ReferredBy",
    "education_level" "EducationLevelParent",
    "religion" "Religion",
    "socio_economic_status" "SocioEconomicStatus",
    "assessing_staff_id" TEXT,
    "assessing_staff_employee_id" TEXT,
    "assessing_staff_name" TEXT,
    "whatsapp_number" TEXT,
    "education_level_other" TEXT,
    "religion_other" TEXT,
    "birth_order" TEXT,

    CONSTRAINT "babies_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "baby_risk_factors" (
    "id" TEXT NOT NULL,
    "baby_id" TEXT NOT NULL,
    "risk_category_id" TEXT NOT NULL,

    CONSTRAINT "baby_risk_factors_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "audiologist_assessments" (
    "id" TEXT NOT NULL,
    "baby_id" TEXT NOT NULL,
    "family_history_hearing_loss" BOOLEAN NOT NULL DEFAULT false,
    "consanguinity_degree" "ConsanguinityDegree",
    "caregiver_concern" BOOLEAN NOT NULL DEFAULT false,
    "reflex_moro" "ReflexResult",
    "reflex_rooting" "ReflexResult",
    "reflex_babinski" "ReflexResult",
    "reflex_palmar" "ReflexResult",
    "reflex_plantar" "ReflexResult",
    "hrr_remarks" TEXT,
    "craniofacial_remarks" TEXT,
    "reflex_sucking" "ReflexResult",

    CONSTRAINT "audiologist_assessments_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "screenings" (
    "id" TEXT NOT NULL,
    "baby_id" TEXT NOT NULL,
    "ent_findings" TEXT,
    "teoae_right" "ScreeningTestResult",
    "teoae_left" "ScreeningTestResult",
    "dpoae_right" "ScreeningTestResult",
    "dpoae_left" "ScreeningTestResult",
    "aabr1_right" "ScreeningTestResult",
    "aabr1_left" "ScreeningTestResult",
    "aabr2_right" "ScreeningTestResult",
    "aabr2_left" "ScreeningTestResult",
    "overall_result" "PassReferResult",
    "remarks" TEXT,
    "tested_by" TEXT NOT NULL,
    "tested_at" TIMESTAMP(3) NOT NULL,
    "assigned_audiologist_id" TEXT,
    "due_date" TIMESTAMP(3),
    "status" "ScreeningStatus" NOT NULL DEFAULT 'draft',
    "boa_result" "ScreeningTestResult",
    "type" "ScreeningType" NOT NULL DEFAULT 'initial',

    CONSTRAINT "screenings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "follow_ups" (
    "id" TEXT NOT NULL,
    "baby_id" TEXT NOT NULL,
    "follow_up_type" "FollowUpType" NOT NULL,
    "provisional_diagnosis_right" TEXT,
    "provisional_diagnosis_left" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "actual_date" TIMESTAMP(3),
    "next_steps" TEXT,
    "notes" TEXT,
    "provider_id" TEXT NOT NULL,
    "scheduled_date" TIMESTAMP(3) NOT NULL,
    "status" "FollowUpStatus" NOT NULL DEFAULT 'scheduled',

    CONSTRAINT "follow_ups_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "baby_recommendations" (
    "id" TEXT NOT NULL,
    "follow_up_id" TEXT NOT NULL,
    "recommendation_type_id" TEXT NOT NULL,

    CONSTRAINT "baby_recommendations_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "patient_timelines" (
    "id" TEXT NOT NULL,
    "baby_id" TEXT NOT NULL,
    "event" "TimelineEvent" NOT NULL,
    "description" TEXT,
    "created_by" TEXT NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "patient_timelines_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "audit_logs" (
    "id" TEXT NOT NULL,
    "table_name" TEXT NOT NULL,
    "record_id" TEXT NOT NULL,
    "changed_by" TEXT NOT NULL,
    "old_value" JSONB,
    "new_value" JSONB,
    "changed_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "audit_logs_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "states_name_key" ON "states"("name");

-- CreateIndex
CREATE UNIQUE INDEX "districts_name_state_id_key" ON "districts"("name", "state_id");

-- CreateIndex
CREATE UNIQUE INDEX "users_email_key" ON "users"("email");

-- CreateIndex
CREATE UNIQUE INDEX "staff_employee_id_key" ON "staff"("employee_id");

-- CreateIndex
CREATE UNIQUE INDEX "risk_categories_label_key" ON "risk_categories"("label");

-- CreateIndex
CREATE UNIQUE INDEX "recommendation_types_label_key" ON "recommendation_types"("label");

-- CreateIndex
CREATE INDEX "babies_deleted_at_created_at_idx" ON "babies"("deleted_at", "created_at");

-- CreateIndex
CREATE INDEX "babies_district_id_idx" ON "babies"("district_id");

-- CreateIndex
CREATE INDEX "babies_hospital_id_idx" ON "babies"("hospital_id");

-- CreateIndex
CREATE UNIQUE INDEX "baby_risk_factors_baby_id_risk_category_id_key" ON "baby_risk_factors"("baby_id", "risk_category_id");

-- CreateIndex
CREATE UNIQUE INDEX "audiologist_assessments_baby_id_key" ON "audiologist_assessments"("baby_id");

-- CreateIndex
CREATE INDEX "screenings_baby_id_idx" ON "screenings"("baby_id");

-- CreateIndex
CREATE INDEX "screenings_tested_at_idx" ON "screenings"("tested_at");

-- CreateIndex
CREATE INDEX "screenings_status_idx" ON "screenings"("status");

-- CreateIndex
CREATE INDEX "follow_ups_baby_id_idx" ON "follow_ups"("baby_id");

-- CreateIndex
CREATE INDEX "follow_ups_scheduled_date_idx" ON "follow_ups"("scheduled_date");

-- CreateIndex
CREATE INDEX "follow_ups_status_idx" ON "follow_ups"("status");

-- CreateIndex
CREATE UNIQUE INDEX "baby_recommendations_follow_up_id_recommendation_type_id_key" ON "baby_recommendations"("follow_up_id", "recommendation_type_id");

-- AddForeignKey
ALTER TABLE "districts" ADD CONSTRAINT "districts_state_id_fkey" FOREIGN KEY ("state_id") REFERENCES "states"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "hospitals" ADD CONSTRAINT "hospitals_district_id_fkey" FOREIGN KEY ("district_id") REFERENCES "districts"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "hospitals" ADD CONSTRAINT "hospitals_primary_audiologist_id_fkey" FOREIGN KEY ("primary_audiologist_id") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "users" ADD CONSTRAINT "users_hospital_id_fkey" FOREIGN KEY ("hospital_id") REFERENCES "hospitals"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "babies" ADD CONSTRAINT "babies_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "babies" ADD CONSTRAINT "babies_deleted_by_fkey" FOREIGN KEY ("deleted_by") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "babies" ADD CONSTRAINT "babies_district_id_fkey" FOREIGN KEY ("district_id") REFERENCES "districts"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "babies" ADD CONSTRAINT "babies_hospital_id_fkey" FOREIGN KEY ("hospital_id") REFERENCES "hospitals"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "baby_risk_factors" ADD CONSTRAINT "baby_risk_factors_baby_id_fkey" FOREIGN KEY ("baby_id") REFERENCES "babies"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "baby_risk_factors" ADD CONSTRAINT "baby_risk_factors_risk_category_id_fkey" FOREIGN KEY ("risk_category_id") REFERENCES "risk_categories"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "audiologist_assessments" ADD CONSTRAINT "audiologist_assessments_baby_id_fkey" FOREIGN KEY ("baby_id") REFERENCES "babies"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "screenings" ADD CONSTRAINT "screenings_assigned_audiologist_id_fkey" FOREIGN KEY ("assigned_audiologist_id") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "screenings" ADD CONSTRAINT "screenings_baby_id_fkey" FOREIGN KEY ("baby_id") REFERENCES "babies"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "screenings" ADD CONSTRAINT "screenings_tested_by_fkey" FOREIGN KEY ("tested_by") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "follow_ups" ADD CONSTRAINT "follow_ups_baby_id_fkey" FOREIGN KEY ("baby_id") REFERENCES "babies"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "follow_ups" ADD CONSTRAINT "follow_ups_provider_id_fkey" FOREIGN KEY ("provider_id") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "baby_recommendations" ADD CONSTRAINT "baby_recommendations_follow_up_id_fkey" FOREIGN KEY ("follow_up_id") REFERENCES "follow_ups"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "baby_recommendations" ADD CONSTRAINT "baby_recommendations_recommendation_type_id_fkey" FOREIGN KEY ("recommendation_type_id") REFERENCES "recommendation_types"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "patient_timelines" ADD CONSTRAINT "patient_timelines_baby_id_fkey" FOREIGN KEY ("baby_id") REFERENCES "babies"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "patient_timelines" ADD CONSTRAINT "patient_timelines_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "audit_logs" ADD CONSTRAINT "audit_logs_changed_by_fkey" FOREIGN KEY ("changed_by") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

